<h2>Добро пожаловать в {{title}}!</h2>
<label for="phoneNumber">Введите номер телефона:</label>
<input [(ngModel)]="phoneNumber" id="phoneNumber"  placeholder="79991112233">

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Идентификаторы</th>
      <th>Почта</th>      
      <th>Страна</th>
      <th>Текущее расположение</th>
      <th>Округ</th>
      <th>Город регистрации</th>
      <th>Оператор</th>
      <th>Город оператора</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items" class="table table-striped">
      <td>{{item?.id}}</td>
      <td>{{item?.names?.join(', ')}}</td>
      <td>{{item?.mail}}</td>
      <td>{{item?.location?.countryName}}</td>
      <td>{{item?.location?.currentRegion}}</td>
      <td>{{item?.location?.registrationOkrug}}</td>
      <td>{{item?.location?.registrationCapital}}</td>
      <td>{{item?.location?.operatorName}}</td>
      <td>{{item?.location?.operatorCity}}</td>
      <td>
    </tr>
  </tbody>
</table>
<button class="btn btn-sm btn-danger" (click)="postLoad()">post Load</button>