################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ScanPerson/.vs/
/Graylog/.vs/
/ScanPerson/ScanPerson.WebApi/wwwroot

# Игнорировать папки сборки
bin/
obj/
dist/