################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
.vs/
/ScanPerson/.vs/ScanPerson

# Игнорировать папки сборки
bin/
obj/